/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Cairo';
  src: url('./fonts/Cairo-Medium.ttf');
  font-display: swap;
}

$gutter: 1rem; //for primeflex grid system

/* PrimeVue */
// @import 'primevue/resources/primevue.min.css';
// @import 'primeicons/primeicons.css';

*, html {
  font-family: 'Cairo' !important;
  /* overflow-y: hidden !important; */
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #c4c4c4;
}
::-webkit-scrollbar-thumb {
  background-color: #3f2210;
}

::-moz-selection { /* Code for Firefox */
  color: #593118;
  background: #e3edfd;
}

::selection {
  color: #593118;
  background: #e3edfd;
}